@page "/Terminology"


<PageTitle>Terminology</PageTitle>




<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold">Deductbile</h1>
    <br />
    <div class="col-md-10 mx-auto">
        <p class="mb-4">The amount you pay for covered health care services before your insurance plan starts to pay. 
            With a $2,000 deductible, for example, you pay the first $2,000 of covered services yourself.
            After you pay your deductible, you usually pay only a copayment or coinsurance for covered services. Your insurance company pays the rest.
            <br />
            <br />
            Many health insurance plans will pay for certain services, like an office visit, specialist office visit, or disease management programs 
            before you have met your plan deductible. Usually, Marketplace health plans pay the full cost of certain preventive benefits- even before you have met your deductible.
            Some health plans have separate deductibles for certain services.
            <br />
            <br />
            Family plans often have both an individual deductible, which applies to each person, and a family deductible, which applies to all family members. When your family 
            deductible is met, you often dont need to meet your individual deductible.
        </p>
    </div>
    <div class="alert alert-info" role="alert">
        Generally, plans with lower monthly premiums have higher deductibles. Plans with higher monthly premiums usually have lower deductibles.
    </div>
    <br />
</div>


<div class="b-example-divider"></div>


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold">Out of Pocket Maximum</h1>
    <br />
    <div class="col-md-10 mx-auto">
        <p class="mb-4">
            Your plans Out of Pocket Maximum is the most you have to pay for covered services within a plan year. After you spend this amount on deductibles, 
            copayments, and coinsurance for in-network care and services, your health plan pays 100% of the costs of covered benefits.
            <br />
            <br />
            The out-of-pocket limit doesn't include: Your monthly premiums, any procedures or visits not covered by your health plan, out-of-network care and services, 
            costs above the allowed amount for a service that a provider may charge.
            <br />
            <br />
            The out-of-pocket limit for Marketplace plans varies, but can’t go over a set amount each year.
        </p>
        <br />
    </div>
</div>


<div class="b-example-divider"></div>


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold">Co-Insurance</h1>
    <br />
    <div class="col-md-10 mx-auto">
        <p class="mb-4">
            A co-Insurance is the percentage of costs of a covered health care service you pay after you've paid your deductible.
            <br />
            This percentage of costs is when you and your insurance company split the cost of a procedure at the rates listed in your plan details. 
            For example, let's say your health insurance plan's allowed amount for an office visit is $100 and your coinsurance is 20%. If you've paid your deductible: 
            You pay 20% of $100, or $20. The insurance company pays the rest. If you have zero accumuations on your deductible: You pay the full allowed amount, $100.
            <br />
            <br />
            Let's say the following amounts apply to your plan and you need a lot of treatment for a serious condition. Allowable costs are $12,000, you have a $3,000 deductible, 
            a 20% co-Insurance, and an Out of Pocket Maximum of $6,850.
            <br />
            You'd pay all of the first $3,000 (your deductible). You'll pay 20% of the remaining $9,000, or $1,800 (your co-insurance). 
            So your total out-of-pocket costs would be $4,800 — your $3,000 deductible plus your $1,800 coinsurance. 
            If your total out-of-pocket costs reach $6,850, you'd pay only that amount, including your deductible and co-insurance. 
            The insurance company would pay for all covered services for the rest of your plan year.
        </p>
    </div>
    <div class="alert alert-info" role="alert">
        Generally speaking, plans with low monthly premiums have higher coinsurance, and plans with higher monthly premiums have lower coinsurance.
    </div>
    <br />
</div>


<div class="b-example-divider"></div>


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold">Co-Payments</h1>
    <br />
    <div class="col-md-10 mx-auto">
        <p class="mb-4">
            A Co-Payment is a fixed amount you pay for a covered health care service after you've paid your deductible.
            <br />
            <br />
            Let's say your health insurance plan's allowable cost for a doctor's office visit is $100. Your copayment for a doctor visit is $20. 
            If you've paid your deductible: You pay $20, usually at the time of the visit. 
            If you haven't met your deductible: You pay $100, the full allowable amount for the visit.
            <br />
            <br />
            Copayments (sometimes called "co-pays") can vary for different services within the same plan, like drugs, lab tests, and visits to specialists.
        </p>
    </div>
    <div class="alert alert-info" role="alert">
        Generally plans with lower monthly premiums have higher copayments. Plans with higher monthly premiums usually have lower copayments.
    </div>
    <br />
</div>




@code {

}
